{{ define "main" }}

<h1>DEVIN WHITE</h1>

<h2>Full Stack Developer in Burnaby, BC</h2>

<img src="/me_2019.jpg" style="width: 40%;" />

<span>
    I'm enjoying life in BC at Teradici as a Full Stack Developer.
</span>

<span>
    View my
<a href="{{ "/experience" | relURL }}"> Work Experience</a>
or check out my projects on
<a target="_blank" href="https://github.com/Devin0xFFFFFF">Github</a>.
</span>

<span>
    To get in touch contact me on
    <a target="_blank" href="https://linkedin.com/in/devinscottwhite">LinkedIn</a>
    or send me an
    <a href="mailto:devin0xffffff@gmail.com">email</a>.
</span>

{{ end }}
